@font-face {
    font-family: 'Rowdies';
    src: url('Rowdies-Bold.woff2') format('woff2'),
        url('Rowdies-Bold.woff') format('woff'),
        url('Rowdies-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

