/*
* HEADER
* hdr : header
*/
.spacing { height: 85px; }

.hdr-frame {
    z-index: 11;
    @extend %trans-ease;
	&.scroll {
        .logo {
            .logo-img {
                width: 50px;
            }

            h1 {
                font-size: 32px;
            }
        }

        background: #2a353b;
    }

    .logo {
        .logo-img {
            width: 78px;
            @extend %trans-ease;
            img {
                width: 100%;
            }
        }

        h1 {
            @extend %trans-ease;
        }
    }
}

#nav-icon {
    width: 55px;
    height: 26px;
    position: relative;
    float: right;
    transform: rotate(0deg);
    cursor: pointer;
    @extend %trans-ease;

    &.open {
        height: 30px;

        span {
            &:nth-child(1) {
                top: 14px;
                width: 100%;
                transform: rotate(-135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                right: -60px;
            }

            &:nth-child(3) {
                top: 14px;
                width: 100%;
                transform: rotate(135deg);
            }
        }
    }

    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: $color--primary;
        opacity: 1;
        right: 0;
        border-radius: 20px;
        transform: rotate(0deg);
        @extend %trans-ease;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 10px;
            left: auto;
            opacity: 0.5;
        }

        &:nth-child(3) {
            top: 20px;
        }
    }
}

.current, .section {
    color: #fc871b;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2a353b;
    z-index: 10;
    transform: translateX(110%);
    @extend %trans-ease;
    &.open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1024px) {
    .hdr-frame .logo .logo-img {
        width: 50px;
    }
}