/** 
 * VARIABLES
 * --
 * Set the default values according to your preference.
**/


/** 
 * COLORS
 * --
 * Add all the colors that you needed. Format: color--[colorname]
 */
/* Primary Colors */
$color--primary1: #b87e2f;
$color--primary2: '';

/* Secondary Colors */
$color--blue: #2f5094;
$color--gray: #b9b9b9;
$color--white: #ffffff;


/** 
 * FONTS
 * --
 */
$font--1: '';	
$font--2: '';

/** 
 * FONTS SIZE
 * --
 */
$font-size-default: 1em;			//16px | Default

$font-size-largest: 3.815em;		//61.04px | H1, Banner Text
$font-size-larger: 3.052em;			//48.83px | H2, Inner Banner Title
$font-size-large: 2.441em;			//39.06px | H3, Frame Subtitle
$font-size-medium: 1.953em;			//31.25px | H4, Banner Subtitle
$font-size-small: 1.563em;			//25px | H5
$font-size-smaller: 1.25em;			//20px | H6 | Small, Body Subtext, Button, Input

$font-size-smallest: 0.8em;			//12.80px | Small | Footer


/** 
 * PADDING
 * --
 */
$frm-padding: 70px 0; // Padding for top & bottom

/** 
 * Frame Background
 * --
 */
$frame-bg--pos__t: top center;
$frame-bg--pos__r: right center;
$frame-bg--pos__b: bottom center;
$frame-bg--pos__l: left center;
$frame-bg--pos__c: center center;


//Border-Radius
//$border-radius-default: 8px;	//
//$border-radius-20: 20px;		//
//$border-radius-4: 4px;		//


//z-index notes
//0-5 		- Background elements
//6-10	 	- Midground elements
//11-15		- Foreground elements
//90		- Elements that includes Header
//100		- Header
//120		- Header Side Nav
//150		- Modals | Pop Up 