.abt-frame1 {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.frm-cntnr {
		height: 100vh;
		max-width: 1366px;
	}

	.abt-frame1__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - 32px);
	}
}

.abt-frame2 {
	.abt-frame2__content {
		position: relative;
		&::before {
			content:'';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 300px;
			height: 10px;
			background: #FC871B;
		}

		&::after {
			content:'';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 300px;
			height: 10px;
			background: #FC871B;
		}
	}
}

.abt-frame3 {
	background: linear-gradient(195.35deg, rgba(255, 255, 255, 0) 32.62%, #FFD957 80.06%);
	.content-img {
		position: relative;
		.wrapper {
			position: relative;
			width: 100%;
			padding-top: 100%;
			overflow: hidden;
			border-radius: 20px;
		}
	}
}