/*
* Contact Us Page
* cnt : contact us
*/

.cnt-frame1 {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.frm-cntnr {
		height: 80vh;
		max-width: 1366px;
	}

	.cnt-frame1__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.g-recaptcha > div {
	margin: auto;
}


@media screen and (max-width: 320px) {

	.recaptcha-hldr {
		margin: 0 -2vw;
	}

}